.main{
    width: 100%;
    height: 100vh;
    background-image: url("https://cdn.wallpapersafari.com/2/79/eHYVso.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.sometry{
    width: 50%;
    padding: 3rem;
}
.todo{
    width: 350px;
    height: 84vh;
    text-align: center;
    margin: auto;
    background-image:linear-gradient(rgb(109, 98, 255),#7dbb92);
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 2rem;
    color: rgb(10, 8, 1);
}
.lists{
    width: 90%;
    margin: auto;
    height: 26vh;
    overflow-y: scroll;
}
.lists::-webkit-scrollbar{
    width: 2px;
    border-radius: 2rem;
}
.lists::-webkit-scrollbar-thumb{
    background-color:rgb(116, 114, 114);
}
.combtndiv{
    display: flex;
    justify-content: space-between;
}
.combtn{
    padding: 0px .5rem;
}
.combtn:hover{
    cursor: pointer;
}
.details{
    /* border:1px solid black; */
    display:flex;
    justify-content:space-evenly;
    background:black;
    color:white;
    height:27px;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
a {
    color: white;
    text-decoration: none;
}