.main{
    width: 100%;
    height: 100vh;
    background-image: url("https://cdn.wallpapersafari.com/2/79/eHYVso.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.sometry{
    width: 50%;
    padding: 3rem;
}
.todo{
    width: 350px;
    height: 84vh;
    text-align: center;
    margin: auto;
    background-image:linear-gradient(rgb(60,116,148),#7dbb92);
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 2rem;
    color: rgb(10, 8, 1);
}
.lists{
    width: 90%;
    margin: auto;
    height: 26vh;
    overflow-y: scroll;
}
.lists::-webkit-scrollbar{
    width: 2px;
    border-radius: 2rem;
}
.lists::-webkit-scrollbar-thumb{
    background-color:rgb(116, 114, 114);
}
.combtn{
    text-align: right;
    padding: 0px .5rem;
}