.list{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    text-align: left;
}
.inpcheck{
    height: 18px;
    width: 18px;
}
.titlediv{
    width: 100%;
    max-width: 180px;
    word-wrap: break-word;
    margin-left: 3%;
    font-size:large;
    font-weight: 600;
}
.delbtn{
    font-size: 110%;
}
.delbtn:hover{
    cursor: pointer;
}